<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootcamp</title>
    <script src="https://questions.staging.learnosity.com/?v2024.2.LTS" defer></script>
    <script src="/app.js" defer></script>
    <link rel="stylesheet" href="styles.css">
</head>
    <body>
        <h1>QUESTIONS API</h1>
        <div class="star-container"></div>
        <div class="learnosity-response question-60005"></div>
        <div class="learnosity-response question-60006"></div>
        <button id="totalScore">totalScore</button>
        <script>
            let questionsApp;
            document.addEventListener('DOMContentLoaded', function() {
                console.log('The DOM is fully loaded.');
                const request = <%- JSON.stringify(request) %>; 
                questionsApp = LearnosityApp.init(request, {
                    readyListener() {
                        console.log('ready');
                    },
                    errorListener(err) {
                        console.log('error', err);
                    }
                });
            });
        </script>
    </body>
</html>
